
PORT=3000

# Database configuration
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=chatflow

JWT_SECRET=chatflow300#@darla.com

# Redis configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Email configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_FROM=from_email_address
EMAIL_USER=your_email_address
EMAIL_PASS=gmail_app_password